[app]
name = "booking"
port = 8080
shutdown_timeout = 10
allowed_origins = ["*"]

[database]
url = "postgres://postgres:postgres@localhost:5432/booking?sslmode=disable"
max_conns = 10
min_conns = 2
max_conn_lifetime = 30
max_conn_idle_time = 5

[log]
level       = "debug"
file_path   = "logs/app.log"
max_size    = 100
max_backups = 3
max_age     = 28
